<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
    <div class="content-wrapper">
        <div class="login-wrapper">
            <h5>Login</h5>
            <div class="login-form">
                <form method="POST" action="/api/v1/login">
                    <div><input type="text" name="id" placeholder="Enter ID"></div>
                    <div><input type="password" name="pw" placeholder="Enter PASSWORD"></div>
                    <button id="btn_login" type="submit">Login</button>
                </form>
                <a href="./create_account">Create Account</a>
            </div>
        </div>
    </div>
</body>
</html>