<table class="map" id="map">
    <% for(let i = 0; i < 65; i++) { %>
        <tr>
            <% for(let j = 0; j < 50; j++) { %>
                <td id=<%= 'cell,' + `${i}` + ',' + `${j}` %>>
                    <canvas id=<%= 'canvas,' + `${i}` + ',' + `${j}` %>></canvas>
                </td>
            <% } %>
        </tr>
    <% } %>
</table>