body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.content-wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 60px 4fr 1fr 20px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "navbar navbar navbar"
                        "map map map"
                        "search search search"
                        "footer footer footer";
}

.navbar {
    grid-area: navbar;
    background-color: black;
    color: white;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.map-wrapper {
    grid-area: map;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(241, 241, 241);
}

.map-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

table {
    background-image: url("kaist_campus_map.jpg");
    background-size: cover;               
    background-repeat: no-repeat;
    background-position: center center;
    border-spacing: 0.001px;
}

table td {
    width: 15px;
    height: 15px;
    background-color: rgba(208, 208, 208, 0.3);
    border: 0.03px solid rgb(241, 241, 241);
}

table td.highlighted {
    width: 0.01px;
    height: 0.01px;
    background-color: #999;
}

table td.map_else {
    background-color:rgb(241, 241, 241);
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.map-submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.search-wrapper {
    grid-area: search;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(245, 245, 245);
}